<html>
    <head>
        <title><%=title %></title>
        <link   rel="stylesheet" href="/Style.css">
        <%- include('../Includes/header.ejs') %>
    </head>
    <body>
        <%- include('../Includes/navigation.ejs') %>
        
        <div class="container mb-4">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <%if(data.length>0){%> 
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col"> </th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Description</th>
                                    <th scope="col" class="text-right">Price</th>
                                    <th scope="col" class="text-center">Action</th>
                                    
    
                                </tr>
                            </thead>
                            <tbody>
                                <%for(let val of data){%>
                                <tr>
                                    <td><img src="../<%=val.prodImage%>" width="110px" height="80px"/> </td>
                                    <td><%=val.prodName %> </td>
                                    <td><%=val.prodDesc %> </td>
                                    <td class="text-right">$<%=val.prodPrice %> </td>
                                    <td> <a href="/edit_prod/<%=val._id%>" class="btn btn-warning">edit</a>  
                                <a href="/delete_prod/<%=val._id%>" class="btn btn-primary">delete</a>  </td>
                                    
                                </tr>
                                <%}%>
                                
                            </tbody>
                        </table>
                        <%}else{%>

                            <h1> data not found</h1>
                            <%}%>
                    </div>
                </div>
              
            </div>
        </div>
        


                <%- include('../Includes/footer.ejs') %>

    </body>
</html>